/* ==========================================================================
   post-section
   ========================================================================== */

.post-section {
  margin-bottom: 36px;
  .section-heading {
    font-size: 18px;
    border-left: solid 4px #0081cd;
    padding-left: 10px;
    margin-bottom: 24px;
  }
}

.post .post-content-wrapper .post-section p {
  margin-bottom: 24px;
}