/* ==========================================================================
   post-heading
   ========================================================================== */

.post-heading {
  font-size: 22px;
  font-weight: bold;
  color: #0081cc;
  margin-bottom: 36px;
}