/* ==========================================================================
   table
   ========================================================================== */
.post-content-wrapper table {
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  width: 100%;
  margin-bottom: 40px;
  thead td,
  th {
    background-color:  #eee;
  }
  td,
  th {
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 5px 5px 4px;
  }
  th {
    vertical-align: middle;
    text-align: left;
    width: 140px;
    font-weight: normal;
  }
}
