/* ==========================================================================
   default
   ========================================================================== */

body {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  color: #343434;
}

a {
  text-decoration: none;
  color: #0175c2;
}

table {
  font-size: 14px;
}

.center {
  text-align: center !important;
}

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(http://fonts.gstatic.com/s/monoton/v5/E1qpC-_4m0LngvlMPmKrlgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}