/* ==========================================================================
   footer all
   ========================================================================== */

.footer {
  margin-top: 40px;
  background-color: #fff;
  padding: 15px 0;
  .copy {
    float: right;
  }
}