/* ==========================================================================
   post all
   ========================================================================== */

.post {
  width: 720px;
  margin-bottom: 40px;
  .post-content-wrapper {
    p {
      margin-bottom: 40px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.post-wrap {
  float: left;
}